.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 20vh;
}

.carre {
    height: 60%;
    width: 13%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quatre {
    width: 30%;
    height: 60%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quatre p {
    text-align: center;
}

.orange {
    height: 90%;
    width: 30%;
    background-color: orange;
}

.orange-1 {
    height: 90%;
    width: 7%;
    background-color: orange;
}

.orange-p {
    width: 90%;
    margin: auto;
}

.orp {
    text-align: center;
}

.brun-1 {
    background-color: rgb(141, 93, 3);
    width: 100%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brun-2 {
    background-color: rgb(141, 93, 3);
    width: 49%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brun-3 {
    background-color: rgb(141, 93, 3);
    width: 32%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brun-12 {
    background-color: rgb(141, 93, 3);
    width: 7%;
    height: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}