.div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 20vh;
}

.carre {
    height: 60%;
    width: 10%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quatre {
    width: 30%;
    height: 60%;
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p {
    text-align: center;
}