body {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
}

nav {
    height: 10vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    width: 75%;
    margin: auto;
    height: 10vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: black;
    border-radius: 5px solid;
}

.menu-btn {
    border: none;
    background-color: rgb(255, 187, 0);
}

.menu a {
    text-decoration: none;
    color: white;
}

.nav-bar-titre {
    width: 15%;
}

.nav-bar-btn {
    width: 15%;
    display: flex;
    justify-content: end;
}

.section1 {
    height: 40vh;
    width: 75%;
    margin: auto;
    color: white;
}

.section1-div1 {
    display: flex;
    flex-direction: column;
}

.section1-div1 h1 {
    font-size: 35px;
}

.section2 {
    height: 20vh;
    width: 75%;
    margin: auto;
}

.section2-div {
    display: flex;
    justify-content: space-between;
}

.section3 {
    height: 70vh;
    width: 75%;
    margin: auto;
    color: white;
}

.section3-div {
    display: flex;
    justify-content: space-between;
}

.section3-div1 {
    height: 80%;
    width: 40%;
}

.section3-div2 {
    height: 80%;
    width: 40%;
}

.section3-img {
    width: 100%;
}

.section4 {
    background-color: rgb(71, 70, 70);
    color: rgb(185, 186, 187);
    height: 40vh;
    width: 100%;
}

.section4-box {
    width: 75%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.section4-div1 {
    width: 40%;
    height: 95%;
}

.section4-div2 {
    width: 40%;
    height: 95%;
}

.section4-p1 {
    color: white;
    font-size: 25px;
}

.section5 {
    height: 30vh;
    width: 100%;
    color: rgb(185, 186, 187);
}

.section5-div {
    width: 75%;
    height: 80%;
    margin: auto;
    font-size: 18px;
}

.section5-btn {
    border: none;
    background-color: rgba(246, 255, 0, 0.726);
    height: 40px;
    border-radius: 5px;
    color: black;
}

.section5-h3 {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(71, 70, 70);
    width: 100%;
    height: 5vh;
}

.footer-div {
    width: 75%;
    height: 95%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}