section:nth-child(2) span {
    display: flex;
    background-color: black;
    color: white;
    height: 100px;
    width: 300px;
}

section:nth-child(3) li:nth-child(odd) {
    display: none;
}

section:nth-child(4) span,
strong,
u,
a {
    display: block;
}

section:nth-child(5) div,
h5,
p:last-child {
    display: inline-block;
}

.red {
    float: right;
}

.green {
    float: left;
}